.article {
    width: 100%;
    height: 100%;

    &__header {
        display: flex;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        align-items: center;
    }

    &__content {
        min-height: 20px;
    }
}