@mixin shadow {
    position: absolute;
    flex-shrink: 0;
}

@mixin base {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}

@mixin arrow {
    content: '';
    width: 2px;
    height: 20px;
    background: #1c6db4;
}

@mixin navBtns {
    height: 100%;
    width: 20px;
    position: absolute;
    display: flex;
    cursor: pointer;
    z-index: 2;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-weight: bold;
}

.scrollContainer__base {
    @include base();
}

.scrollContainer {
    // FireFox
    scrollbar-width: thin;
    scrollbar-color: #dadada;

    &__hideScrollbar::-webkit-scrollbar {
        display: none;
    }

    &__startShadow,
    &__endShadow {
        @include shadow;
    }

    &__previouslyBtn {
        @include navBtns();
        background: linear-gradient(to right, #87878754, #ffffff00);
        left: 0;
    }

    &__nextBtn {
        @include navBtns();
        background: linear-gradient(to left, #87878754, #ffffff00);
        right: 0;
    }

    &__previouslyBtn:hover {
        background:  linear-gradient(to right, #e2e0e0de, #9c9c9c00);
    }

    &__nextBtn:hover {
        background:  linear-gradient(to left, #e2e0e0de, #9c9c9c00);
    }

    &__scrollTopBtn {
        position: absolute;
        bottom: 0px;
        right: 0;
    }
}

// Chrome, Edge и Safari
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


::-webkit-scrollbar-thumb {
    background: #dadada;
    border-radius: 20px;
}