@import url('../../fonts/themify-icons.scss');
@import './BaseClasses.scss';
@import './CssConstants.scss';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "themify";
}

body {
    display: flex;
}

body span,
body a {
    color: white;
    mix-blend-mode: difference;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

