@import url('../../fonts/themify-icons.scss');
@import url('./BaseClasses.scss');
@import url('./CssConstants.scss');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "themify";
}

body {
    display: flex;
}

body span,
body a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: inherit;
    &:visited {
            color: inherit;
        }

    &:active {
        color: inherit;
    }
}

.theme_light {
    color: var(--default_text_color);
    background: white;
}

.theme_dark {
    color: white;
    background: var(--dark_theme);
}
