@import url('./themify-icons.scss');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "themify";
}

.root {
    padding: 6px;
    background: white;
}

body::-webkit-scrollbar {
    display: none;
}