@import url('./themify-icons.scss');
@import './BaseClasses.scss';
@import './CssConstants.scss';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "themify";
}

.root {
    padding: 0 6px 6px 6px;
    background: white;
}

body::-webkit-scrollbar {
    display: none;
}

body span,
body a {
    color: white;
    mix-blend-mode: difference;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.demo__header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 3;
    background: #f6f6f6e8;
    width: 100%;
    padding: 6px;
}
