@mixin previewContent {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.articleListItem {
    cursor: pointer;
    
    &__header {
        display: flex;
        flex-direction: column;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        padding: 6px;
    }

    &__previewContent {
        @include previewContent();
        max-height: 100px;
        position: relative;
        padding: 6px;

        &-shadow {
            @include previewContent();
            width: 100%;
            background: linear-gradient(to top, #e0dcdc, transparent);
            height: 10px;
            display: flex;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}